@font-face {
   font-family: "SEGA";
   src: url("fonts/SEGA.ttf") format("truetype");
}

@font-face {
   font-family: "cind";
   src: url("fonts/CIND.otf") format("opentype");
}


html {
  height: 100%;
}


body {
  min-height: 100%;
  color: #ff208f;
  font-family: "SEGA";
  background: url("http://scontent.cdninstagram.com/t51.2885-15/e35/c186.0.480.480/15876285_207890686281587_2188207509993422848_n.jpg?ig_cache_key=MTQyOTUxMDQzMDA3MDM1ODQ4OQ%3D%3D.2.c") no-repeat;
  background-size: cover;
  overflow: hidden;
}

.title {
  font-size: 30px;
  text-align: center;
  font-size: 2.5rem;
  line-height: 3rem;
}

.title.name {
  text-align: left;
}

.buttons {
  margin: 11rem auto;
  text-align: center;
}

.button {
  padding: 20px;
  margin: 5px;
  color: white;
  background: #ff208f;
  display: block;
  margin: 0 0 1rem;
}

a, button {
  text-align: center;
}

a.button {
  text-decoration: none;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 21rem;
  padding: 0 2rem 0;
}

.container p {
  font-size: 2.5rem;
  line-height: 3rem;
}

.playerName {
  padding: 1rem 0.5rem;
  display: block;
  font-size: 20px;
}

.play-button {
  display: block;
  width: 7rem;
  text-align: center;
  margin: 1rem auto 0;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 80px;
}

.score {
  width: 50%;
  float: left;
  text-align: center;
}

.score span {
  display: block;
}

.score span:first-child {
  font-size: 5em;
  margin-bottom: 0.5em;
  color: #ff208f;
}

.score span:last-child {
  display: block;
  font-size: 25em;
  font-family: "cind";
}

.winner {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: #ff208f;
  color: #fff;
  font-size: 10em;
  text-align: center;
  line-height: 100vh;
}

.winner p {
  display: inline-block;
  line-height: normal;
}
